VITE_FIREBASE_API_KEY=AIzaSyDOc9mU7qZwxIwrVxqSaoeuR35OMifOnxU
VITE_FIREBASE_AUTH_DOMAIN=cafeteria-b7a09.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=cafeteria-b7a09
VITE_FIREBASE_STORAGE_BUCKET=cafeteria-b7a09.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=180012726702
VITE_FIREBASE_APP_ID=1:180012726702:web:a69226bed9d1512659f03f
